/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/* DESIGN STYLE
/*-----------------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------------------
COLOR
-------------------------------------------------------------------------------------------------*/

/*---TYPE---------*/
body { color: #191d1f; }
aside { color: #565a5c; }
h1 { color: #eaab00; }
h2 { color: #565a5c; }
h4 { color: #818a8f; }
footer { color: #818a8f; }
.detail { color: #818a8f; }
.snippet, label { color: #464a4c; }
.banner .contents li *, .banner h2 { color: #e0e1dd; }

/*---LINKS---------*/
/*gray*/
nav a { color: #565a5c; }
nav .active a { color: #818a8f; }
aside h4 a, .breadcrumbs a { color: #818a8f; }
footer a { color: #818a8f; }

/*gold*/
h4 a { color: #eaab00; }
h4 a:hover { color: #eaab00; }
h4 a:focus { color: #eaab00; }

/*blue*/
a { color: #0066a1; }
a:hover { color: #4060af; }
a:focus { color: #6493b5; }
nav ul ul a { color: #0066a1; }
footer a.language { color: #0066a1; }

/*white*/
.banner .contents a { color: #e0e1dd; }

/*orange*/
.promo a, .promo h4 { color: #e17000; }

.partners li.active a { color: #191d1f; }

/*---OBJECTS---------*/
.nav-bar-wrapper { border-top: 1px solid #d1d4d3; border-bottom: 1px solid #d1d4d3; }	
.related { border-bottom: 1px solid #e0e1dd; }	
.related:first-of-type { border-top: 1px solid #e0e1dd; } 
.banner { background: #353735 url(../images/curve.png) 30% 0 no-repeat; }
hr { border-top: 1px solid #e0e1dd; border-bottom: none; }	

dl.filter dd a { background: #565a5c; color: #fff; }
dl.filter dd.active a { background: #f0ab00; color: #fff; }
dl.filter dd a:hover { background: #767a7c; }

.nobottom .related:last-of-type { border-bottom: none; } 

/*-----------------------------------------------------------------------------------------------
TYPE
-------------------------------------------------------------------------------------------------*/

body { 
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", Georgia, serif; 
	font-size: 14px; font-size: 1.4rem;
	line-height: 1.5em; 
	font-weight: 500; 
	position: relative; 
	-webkit-font-smoothing: antialiased; 
	}

h1, h2, h3, h4, h5, h6 { 
	font-family: "proxima-nova-1","proxima-nova-2", "Helvetica Neue", "HelveticaNeue", "Helvetica", sans-serif;
	font-weight: 400; 
	line-height: 1.25em; 
	margin-bottom: 8px;
	}
	h1 /*head*/			{ font-size: 38px; font-size: 3.8rem; font-weight: 400;	letter-spacing: -1px; margin-left: -2px; line-height: 1.1em; }
	h2 /*drophead*/		{ font-size: 19px; font-size: 1.9rem; font-weight: 400;	}
	h3 /*in-article*/	{ font-weight: 600; }
	h4 /*aside*/		{ font-size: 12px; font-size: 1.2rem; font-weight: 600; text-transform: uppercase; }
	h5 /*unused*/		{  }
	h6 /*unused*/		{  }

p { font-size: 14px; font-size: 1.4rem; margin: 0 0 1em; }
article img { margin-bottom: 1em; }
	
	a { text-decoration: none; line-height: inherit; }
	a:hover { text-decoration: underline; }
	a:focus { color: #6493b5; outline: none; }

	em, i { font-style: italic; line-height: inherit; }
	strong, b { font-weight: bold; line-height: inherit; } h2 strong { font-weight: 600; }
	small { font-size: 60%; line-height: inherit; }
	abbr, acronym { text-transform: uppercase; font-size: 90%; color: #222; border-bottom: 1px solid #ddd; cursor: help; }
	abbr { text-transform: none; }
	
nav, .breadcrumbs { 
	font-family: "proxima-nova-1","proxima-nova-2", "Helvetica Neue", "HelveticaNeue", "Helvetica", Arial, sans-serif;
	font-size: 12px; font-size: 1.2rem;
	font-weight: 600; 
	text-transform: uppercase;
	}

nav ul ul, .contents, .contents p, aside, footer, .go, .pagination, .detail, dl, label { 
	font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica", Arial, sans-serif;
	font-size: 13px; font-size: 1.3rem;
	line-height: 1.45em; 
	font-weight: 400;
	text-transform: none; 
	}
	li .detail, label { font-size: 12px; }

.bio p { 	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", Georgia, serif; 
	font-size: 14px; font-size: 1.4rem;
	line-height: 1.5em; 
  }

/*typographic adjustments for contents lists*/
.contents a { font-weight: 700; } /*in contents lists, make the links bold*/
aside .contents a { font-weight: 400; } /*don't, however, do this for content lists in the aside*/
aside .contents h4, aside .contents h4 a { font-weight: 600; } /*and the h4s don't look great in 700, so make them 600*/

/*lists where type is more featured*/
.contents.super li a { font-family: "proxima-nova-1","proxima-nova-2", "Helvetica Neue", "HelveticaNeue", "Helvetica", Arial, sans-serif; font-size: 18px; font-size: 1.8rem; font-weight: 400; padding-bottom: 4px; }

/*and small adjustments for misc items*/
.intro h2 { padding-top: 4px; line-height: 1.3em; } /*evens columns on home*/
.more a { font-size: 11px; font-size: 1.1rem; font-weight: 400; } /*make more link slightly smaller*/
.promo .more { margin-top: -0.75em; } /*override the bottom margin of p for the more link in promos*/
.pagination a:hover { text-decoration: none; } /*there underline action built into pagination already*/

.breadcrumbs { font-size: 10px; font-size: 1.0rem; text-transform: uppercase; }
.filter { font-size: 13px; font-size: 1.3rem; }


/*-----------------------------------------------------------------------------------------------
LISTS
-------------------------------------------------------------------------------------------------*/

ul, ol, dl { margin-bottom: 18px; }
ul, ol { list-style: none outside; }
ol.decimal, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ol.decimal { list-style: decimal outside; }
li { margin-bottom: 4px; }
nav li { margin-bottom: 12px; }


/*-----------------------------------------------------------------------------------------------
MASTHEAD AND NAVS
-------------------------------------------------------------------------------------------------*/

/*---MASTHEAD---------*/
.masthead { height: 60px; }

/*---MENUBAR---------*/
nav ul { margin-bottom: 0; }
nav ul li { margin-bottom: 8px; }
nav ul ul { margin: 8px 0 16px 16px; }

/*note that there are two wrappers around nav-bar: outer spreads it across page, inner 'row' brings the content to prescribed width*/
.nav-bar { height: 32px; background: #fff; }	
.nav-bar>li { float: left; display: block; position: relative; padding: 0; margin: 0; line-height: 32px; }
.nav-bar>li>a.main { position: relative; padding: 0 36px 0 0; display: block; }
.nav-bar>li>input { margin: 0 16px; }
.nav-bar>li ul { margin-bottom: 0; }
.nav-bar>li li { line-height: 1.3; }
.nav-bar>li.has-flyout>a.main { padding-right: 36px; }
.nav-bar>li.has-flyout>a.flyout-toggle { position: absolute; right: 0; top: -8px; padding: 22px; z-index: 2; display: block; }
.nav-bar>li.has-flyout>a.flyout-toggle span { content: ""; width: 0; height: 0; border-left: 4px solid transparent;border-right: 4px solid transparent; border-top: 4px solid #565a5c; display: block; }
.flyout { background: #fff; margin: 0; padding: 10px 10px 20px 10px; border: 1px solid #ddd; position: absolute; top: 32px; left: -1px; width: 200px; z-index: 40; }
.flyout.small { width: 100px; }
.flyout.large { width: 300px; }
.flyout.right { left: auto; right: 0; }
.flyout p:last-child { margin-bottom: 0; }
.nav-bar>li .flyout { display: none; }
.nav-bar>li.right { float: right; width:auto; text-align: right; }
.nav-bar>li.right a { padding-right: 1px; }

/*---BREADCRUMBS---------*/
ul.breadcrumbs { display: block; margin: -6px 0 8px 0; }
ul.breadcrumbs li { margin: 0; padding: 0 0 0 0; float: left; }
ul.breadcrumbs li a { padding-right: 8px; }
ul.breadcrumbs li:after { content: "/"; color: #818a8f; padding-right: 8px; }

/*---FILTER---------*/
dl.filter { display: block; width: auto; overflow: hidden; margin: 0 0 13px -9px; padding-top: 3px; padding-bottom: 3px; }
dl.filter dt, dl.filter dd { float: left; display: inline; margin-left: 9px; margin-bottom: 5px; }
dl.filter dt { display: none; }
dl.filter dd a { padding: 5px 10px 6px 10px; text-decoration: none; border-radius: 12px; }
dl.filter dd.active a {  }

/*---PAGINATION---------*/
ul.pagination { display: block; height: 24px; margin-left: -10px; margin-top: 24px; }
ul.pagination li { float: left; display: block; height: 24px; color: #818a8f; margin-left: 5px; }
ul.pagination li a { display: block; padding: 6px 7px 4px; color: #565a5c; }
ul.pagination li.current a, ul.pagination li:hover a, ul.pagination li a:focus { border-bottom: solid 2px #6493b5; color: #191d1f; }
ul.pagination li.unavailable a { cursor: default; color: #818a8f; }
ul.pagination li.unavailable:hover a, ul.pagination li.unavailable a:focus { border-bottom: none; }

/*---FOOTER---------*/
footer { padding: 8px 0 0 0; border-top: 1px solid #c3c8c8; }
footer.row { margin-top: 72px; }
footer li { float: left; display: inline; padding: 0; margin: 0; }
.legal li:after { content:"\00a0\00a0\00b7\00a0\00a0"; }
.legal li:last-child:after { content: none; }
.social li { padding-left: 2px; }
.social li a { opacity: 0.6; }
.social li a:hover { opacity: 0.9; }
	

/*-----------------------------------------------------------------------------------------------
CONTENTS CONTAINERS
-------------------------------------------------------------------------------------------------*/

/*---BANNER---------*/
.banner { height: 180px; margin-bottom: 16px; padding-top: 16px; padding-bottom: 0; }
.banner .container { padding-top: 0; }
	.banner .art-left { height: 196px; margin-top:-16px; margin-left:-72px; padding-left:72px; background-position: 100% 0 no-repeat; } 
	/*the actual artwork is src'd on the page for content management purposes*/
.banner.short { height: 128px; margin-bottom: 16px; padding-top: 16px; background-position: 30% 0; }
	.banner.short .art-left { height: 144px; } /*height plus 16*/
.banner.tall { height: 216px; margin-bottom: 16px; padding-top: 16px; background-position: 30% 0; }
	.banner.tall .art-left { height: 232px; } /*height plus 16*/

.intro { margin-bottom: 24px; padding-top: 16px; }

.withfilter { min-height: 180px; } /*if filter in banner, need height*/
.short .withfilter { min-height: 128px; } /*if filter in banner, need height*/

/*---RELATED---------*/
.related { margin: 0 0 10px 0; padding: 10px 0 0 0; }
.related:last-of-type { margin-bottom: 20px; } /*helps when in large body of text*/
.related:first-of-type.notop { border-top: none; padding-top: 3px; } /*when no top border, this aligns with left nav*/
.related h4 { margin-bottom: 12px; }


/*-----------------------------------------------------------------------------------------------
CONTENTS LISTS
-------------------------------------------------------------------------------------------------*/

.contents { margin-bottom: 0; line-height: 1.5em; }
.contents li { margin-bottom: 16px; }
.contents .snippet { display: block; }
.contents .detail { display: block; }

.contents.arrows { margin-bottom: 16px; }
.contents.arrows li { margin-bottom: 8px; }
.contents.arrows li a { padding-left: 20px; background: url(../images/wayfinding_solid_chevron_right_14.png) 0 1px no-repeat; }
.contents.arrows.super li a { background: url(../images/wayfinding_solid_chevron_right_14.png) 0 4px no-repeat; }

.contents.two-across li { float: left; width: 48%; margin-left: 4%; }
.contents.two-across li:nth-child(2n+1), .contents.two-across li:first-child { margin-left: 0; }

.contents.thumbs li { margin-bottom: 16px; }
.contents.thumbs li img { float: left; width: 72px; padding-top: 5px; text-align: left; }
.contents.thumbs li a { display: block; }
.contents.thumbs li .item { padding-left: 84px; } /*space for img plus 12px*/
	aside .contents.thumbs li img { width: 36px; }
	aside .contents.thumbs li .item { padding-left: 48px; } /*space for img plus 12px*/
	aside .contents.thumbs li .item span { display: none; } /*aside view does not show details*/

.contents.thumbs li.promoted { padding-bottom: 16px; border-bottom: 1px solid #d1d4d3; }
.contents.thumbs li.promoted img { float: right; width: 216px; padding-top: 4px; text-align: left; }
.contents.thumbs li.promoted a { font-size: 115%; padding-bottom: 2px; }
.contents.thumbs li.promoted .item { padding-left: 0; padding-right: 228px; } /*space for img plus 12px*/

.contents.thumbs.three-across li { float: left; width: 30%; margin-left: 5%; line-height: 1.5em; }
.contents.thumbs.three-across li:nth-child(3n+1), .contents.thumbs.three-across li:first-child { margin-left: 0; }
.contents.thumbs.three-across li img { display: block; width: 100%; padding-top: 0; padding-bottom: 6px; }
.contents.thumbs.three-across li .item { padding-left: 0; }
.contents.thumbs.three-across li .item span { display: none; } /*featured 3-across view does not show details*/

.contents.thumbs.six-across li { float: left; width: 13%; margin-left: 4.4%; line-height: 1.5em; }
.contents.thumbs.six-across li:nth-child(6n+1), .contents.thumbs.six-across li:first-child { margin-left: 0; }
.contents.thumbs.six-across li img { display: block; width: 100%; padding-top: 0; padding-bottom: 6px; }
.contents.thumbs.six-across li .item { padding-left: 0; }


/*---PARTNER LISTS---------*/
.contents.partners li { margin-bottom: 16px; }
.contents.partners li img { float: left; width: 72px; padding-top: 5px; text-align: left; }
.contents.partners li a { display: block; }
.contents.partners li .item { padding-left: 84px; } /*space for img plus 12px*/

.contents.partners.three-across li { float: left; width: 30%; margin-left: 5%; line-height: 1.5em; }
.contents.partners.three-across li:nth-child(3n+1), .contents.thumbs.three-across li:first-child { margin-left: 0; }
.contents.partners.three-across li img { float: left; width: 36px; padding-top: 5px; text-align: left; }
.contents.partners.three-across li .item { padding-left: 48px; } /*space for img plus 12px*/

.thumbstrip li { float: left; display: inline; margin-right: 8px; }
.thumbstrip li img { width: 36px; height: 36px; }

/*---WAYFINDING ARROWS---------*/
.go a { padding-left: 16px; background: url(../images/wayfinding_solid_chevron_right.png) 0 1px no-repeat; }
.download { margin-top: 8px; padding-left: 16px; background: url(../images/wayfinding_solid_chevron_dbl_down.png) 0 3px no-repeat; font-weight: normal; }
/*.share { padding-left: 16px; background: url(../images/wayfinding_solid_plus.png) 0 4px no-repeat; font-weight: normal; } */
.more a:after, h4 a:after, h2 a:after { content:"\00a0\203A"; }

.back { margin-left: -6px !important; }
.back:before { content:"\2039\00a0"; }

/*-----------------------------------------------------------------------------------------------
MISC
-------------------------------------------------------------------------------------------------*/
.left        { float: left; }
.right       { float: right; width: auto; }
.text-left   { text-align: left; }
.text-right  { text-align: right; }
.hide        { display: none; }
.highlight   { background: #eaab00; }
.pad-bottom  { margin-bottom: 18px; }

.bottom { position: absolute; bottom: 0; left: 0; width: 100% !important; } /*for filter, pushes to bottom*/

.contents + .contents { margin-top: 16px; } /*gives some space between aside lists*/
.contents .share { margin-left: -2px; }
.contents .share a { display: inline; } /*so the share links appear side-by-side*/

/*shadows*/
dl.filter dd a { 
	-moz-box-shadow: 2px 2px 3px 2px rgba(56,56,56,0.5);
	-webkit-box-shadow: 2px 2px 3px 2px rgba(56,56,56,0.5);
	box-shadow: 2px 2px 3px 2px rgba(56,56,56,0.5);
	}
.flyout { 
	box-shadow: 0px 2px 4px 0px rgba(56,56,56,0.5);
	}

/* Font awesome use syntax in html: <i class="icon-camera-retro"></i> icon-camera-retro
character lookup: http://fortawesome.github.com/Font-Awesome/#base-icons */
[class^="icon-"], [class*=" icon-"] { vertical-align: baseline; }
.icon-large { font-size: 16px; }
.icon-large:before { vertical-align: middle; }


/*-----------------------------------------------------------------------------------------------
REVEAL MODAL
-------------------------------------------------------------------------------------------------*/
		
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		z-index: 40;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 100px; 
		left: 50%;
		margin-left: -300px;
		width: 520px;
		background: #eee url(../images/misc/modal-gloss.png) no-repeat -200px -80px;
		position: absolute;
		z-index: 41;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
	
	.reveal-modal .row {
		min-width: 0;
	}
	
	/* Mobile */
		
		@media handheld, only screen and (max-width: 1023px) {
			.reveal-modal-bg { position: absolute; }
			
			.reveal-modal,
			.reveal-modal.small,
			.reveal-modal.medium,
			.reveal-modal.large,
			.reveal-modal.xlarge { width: 60%; top: 60px; left: 15%; margin-left: 0; padding: 20px; height: auto; }
		}
		
		@media handheld, only screen and (max-width: 767px) {
			.reveal-modal-bg { position: absolute; }
			
			.reveal-modal,
			.reveal-modal.small,
			.reveal-modal.medium,
			.reveal-modal.large,
			.reveal-modal.xlarge { width: 80%; top: 15px; left: 5%; margin-left: 0; padding: 20px; height: auto; }
		}
	
/*-----------------------------------------------------------------------------------------------
TOOL TIPS
-------------------------------------------------------------------------------------------------*/
	.tooltip {
    display: none;
	  background: rgb(0,0,0);
	  background: rgba(0,0,0,0.8);
	  position: absolute;
	  color: #fff;
	  font-weight: bold;
	  font-size: 12px;
	  font-size: 1.2rem;
	  padding: 5px;
	  z-index: 999;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  line-height: normal;
	}
	.tooltip > .nub {
	  display: block;
	  width: 0;
	  height: 0;
	  border: solid 5px;
	  border-color: transparent transparent rgb(0,0,0) transparent;
	  border-color: transparent transparent rgba(0,0,0,0.8) transparent;
	  position: absolute;
	  top: -10px;
	  left: 10px;
	}
	.tooltip.tip-override > .nub {
	  border-color: transparent transparent rgb(0,0,0) transparent !important;
	  border-color: transparent transparent rgba(0,0,0,0.8) transparent !important;
	  top: -10px !important;
	}
	.tooltip.tip-top > .nub {
	  border-color: rgb(0,0,0) transparent transparent transparent;
	  border-color: rgba(0,0,0,0.8) transparent transparent transparent;
	  top: auto;
	  bottom: -10px;
	}
	.tooltip.tip-left, .tooltip.tip-right, .has-tip.tip-left, .has-tip.tip-right {
	  float: none !important;
	}
	.tooltip.tip-left > .nub {
	  border-color: transparent transparent transparent rgb(0,0,0);
	  border-color: transparent transparent transparent rgba(0,0,0,0.8);
	  right: -10px;
	  left: auto;
	}
	.tooltip.tip-right > .nub {
	  border-color: transparent rgb(0,0,0) transparent transparent;
	  border-color: transparent rgba(0,0,0,0.8) transparent transparent;
	  right: auto;
	  left: -10px;
	}
	.tooltip.noradius {
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0;
	}
	.has-tip.opened {
	  color: #0192DD !important;
	  border-bottom: dotted 1px #0593DC !important;
	}
	.tap-to-close {
	  display: block;
	  font-size: 10px;
	  font-size: 1.0rem;
	  color: #888;
	  font-weight: normal;
	}
	
	
/*-----------------------------------------------------------------------------------------------
FORMS
-------------------------------------------------------------------------------------------------*/
	form { margin: 0 0 18px; }
	form label { display: block; font-size: 13px; line-height: 18px; cursor: pointer; margin-bottom: 9px; }

	input.input-text, textarea { border-right: 1px solid #bbb; border-bottom: 1px solid #bbb; }
	input.input-text, textarea, select { display: block; margin-bottom: 9px; }
	label + input.input-text, label + textarea, label + select, label + div.dropdown, select + div.dropdown { margin-top: -9px; }
	textarea { max-width: 100%; }

	/* Text input and textarea font and padding */
	input.input-text, textarea { font-size: 13px; padding: 4px 3px 2px; background: #fff; }
	input.input-text:focus, textarea:focus { outline: none !important; }
	input.input-text.oversize, textarea.oversize { font-size: 18px !important; padding: 4px 5px !important; }
	input.input-text:focus, textarea:focus { background: #f9f9f9; }

	/* Text input and textarea, disabled */
	input.input-text[disabled], textarea[disabled] { background-color: #ddd; }

	/* Inlined Label Style */
	input.placeholder, textarea.placeholder { color: #888; }

	/* Text input and textarea sizes */
	input.input-text, textarea { width: 254px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
	input.small, textarea.small { width: 134px; }
	input.medium, textarea.medium { width: 254px; }
	input.large, textarea.large { width: 434px; }
	input.expand, textarea.expand { width: 100%; }
	
	/* Lock textareas so they can't be resized beyond their set width in webkit */
	textarea.locked 	{ max-width: 254px; }
    	textarea.locked.small 	{ max-width: 134px; }
    	textarea.locked.large 	{ max-width: 434px; }
    	textarea.locked.expand 	{ max-width: 100%; }

	/* Fieldsets */
	form fieldset { padding: 9px 9px 2px 9px; border: solid 1px #ddd; margin: 18px 0; }

	/* Inlined Radio & Checkbox */
	.form-field input[type=radio], div.form-field input[type=checkbox] { display: inline; width:auto; margin-bottom:0; }

	/* Errors */
	.form-field.error input, input.input-text.red { border-color: #C00000; background-color: rgba(255,0,0,0.15); }
	.form-field.error label, label.red { color: #C00000; }
	.form-field.error small, small.error { margin-top: -6px; display: block; margin-bottom: 9px; font-size: 11px; color: #C00000; width: 254px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }

	.small + small.error { width: 134px; }
	.medium + small.error { width: 254px; }
	.large + small.error { width: 434px; }
	.expand + small.error { width: 100%; }
	
	.small.oversize + small.error { width: 144px; }
	.medium.oversize + small.error { width: 264px; }
	.large.oversize + small.error { width: 444px; }
	.expand.oversize + small.error { width: 100%; }

	/* -----------------------------------------
	   Nicer Forms
	----------------------------------------- */
	form.nice div.form-field input, form.nice input.input-text, form.nice textarea { border: solid 1px #bbb; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
	form.nice div.form-field input, form.nice input.input-text, form.nice textarea { font-size: 13px; padding: 6px 3px 4px; outline: none !important; background: url(../images/misc/input-bg.png) #fff; }
	form.nice div.form-field input:focus, form.nice input.input-text:focus, form.nice textarea:focus { background-color: #f9f9f9; }

	/* Text input and textarea, disabled */
	form.nice div.form-field input[disabled], form.nice input.input-text[disabled], form.nice textarea[disabled] { background-color: #ddd; }

	form.nice fieldset { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }

	form.nice div.form-field input[type=radio], form.nice div.form-field input[type=checkbox] { display: inline; width:auto; margin-bottom:0; }

	form.nice div.form-field.error small, form.nice small.error { padding: 6px 4px; border: solid 0 #C00000; border-width: 0 1px 1px 1px; margin-top: -10px; background: #C00000; color: #fff; font-size: 12px; font-weight: bold; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; -webkit-border-bottom-left-radius: 2px; -webkit-border-bottom-right-radius: 2px; -moz-border-radius-bottomleft: 2px; -moz-border-radius-bottomright: 2px; }

 	form.nice div.form-field.error .small + small, form.nice .small + small.error { width: 132px; }
	form.nice div.form-field.error .medium + small, form.nice .medium + small.error { width: 252px; }
	form.nice div.form-field.error .large + small, form.nice .large + small.error { width: 432px; }
	
	form.nice div.form-field.error .small.oversize + small, form.nice .small.oversize + small.error { width: 136px; }
	form.nice div.form-field.error .medium.oversize + small, form.nice .medium.oversize + small.error { width: 256px; }
	form.nice div.form-field.error .large.oversize + small, form.nice .large.oversize + small.error { width: 436px; }

/*---LITTLE SEARCH---------*/
.search input { float: left; width: 85%; margin-top: 1px; }
.search a { float: left; width: 14%; padding-left: 1%; }
.search a img { height: 21px; opacity: 0.85; }
.search a:hover img { height: 21px; opacity: 1; }


/*-----------------------------------------------------------------------------------------------
BUTTONS
-------------------------------------------------------------------------------------------------*/
.buttonstrip { margin-top: 16px; margin-bottom: 24px; }
	.button {
		background: #00a6fc;
		display: inline-block;
		text-align: center;
		padding: 9px 34px 11px;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		font-size: 13px; font-size: 1.3rem;
		line-height: 1;
		font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
		position: relative;
		cursor: pointer;
		border: none;
		outline: none;
		margin: 0 8px 0 0;
	}
	
  	/* Don't use native buttons on iOS */
	input[type=submit].button, button.button { -webkit-appearance: none; }
	
	/* Hide inner focus effect in Firefox */
	button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
		border: none;
	}
	
	.button.radius {
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}
	.button.round {
		-moz-border-radius: 1000px;
		-webkit-border-radius: 1000px;
		border-radius: 1000px;
	}

	.button.full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center;
	}

	.button.left-align {
		text-align: left;
		text-indent: 12px;
	}
	
	/* Sizes ---------- */
	.tiny.button			{ font-size: 10px; padding: 6px 14px 8px; width: auto; }
	.small.button 			{ font-size: 11px; padding: 8px 20px 10px; width: auto; }
	.medium.button 			{ font-size: 13px; width: auto; }
	.large.button 			{ font-size: 18px; padding: 11px 48px 13px; width: auto; }

	/* Colors ---------- */
	.blue.button			{ background-color: #0066a1; }
	.red.button				{ background-color: #e91c21; }
	.white.button			{ background-color: #e9e9e9; color: #333; }
	.black.button			{ background-color: #141414; }
	.green.button			{ background-color: #5b8737; }
	
	/* Hovers ---------- */
	.button:hover, .button:focus 				{ background-color: #0192dd; color: #fff; }
	.blue.button:hover, .blue.button:focus		{ background-color: #0192dd; }
	.red.button:hover, .red.button:focus 		{ background-color: #d01217; }
	.white.button:hover, .white.button:focus	{ background-color: #dadada; color: #333; }
	.black.button:hover, .black.button:focus	{ background-color: #000; }
	.green.button:hover, .green.button:focus	{ background-color: #699c40; }	

	/* Hovers ---------- */
	.button:active 	{ 
		-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
		-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
		box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
	}
	
	/* Disabled ---------- */
	.button.disabled, .button[disabled] { opacity: 0.6; cursor: default; }
	
	/* Correct FF button padding */
	@-moz-document url-prefix("http://") {
		input[type=submit].button::-moz-focus-inner, button.button::-moz-focus-inner { border: 0; padding: 0; }
		input[type=submit].tiny.button		{ padding: 5px 14px 7px; }
		input[type=submit].small.button		{ padding: 7px 20px 8px; }
		input[type=submit].medium.button	{ padding: 8px 34px 9px; }
		input[type=submit].large.button		{ padding: 9px 48px 10px; }
	}


/*-----------------------------------------------------------------------------------------------
PRINT
-------------------------------------------------------------------------------------------------*/

.print-only { display: none !important; }
@media print {
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
	-ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
	p a, p a:visited { color: #444 !important; text-decoration: underline; }
	p a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
	tr, img { page-break-inside: avoid; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
	.hide-on-print { display: none !important; }
	.print-only { display: block !important; }
	
	}/* /print*/


/*-----------------------------------------------------------------------------------------------
MOBILE
-------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 767px) {		

	p { font-size: 17px; font-size: 1.7rem; line-height: 1.5em; }
	nav { font-size: 14px; font-size: 1.4rem; }

	.category li { padding-top: 6px; border-top: 1px solid #d1d4d3; }
	.category li:last-child { padding-bottom: 6px; border-bottom: 1px solid #d1d4d3; }
	
	/*---BANNER---------*/
	.banner, .intro { height: auto; margin-bottom: 0; background: none; border-top: 1px solid #d1d4d3;}
	.banner .art-left,.banner .art-right { display: none; }
	.banner h2 { color: #191d1f; font-size: 19px; font-size: 1.9rem; }
	.withfilter { min-height: auto; } /*if filter in banner, need height*/
	.short .withfilter { min-height: auto; } /*if filter in banner, need height*/


	/*---FOOTER---------*/
	footer { margin: 36px 0 36px 0; padding: 0; border-top: none; }
	.legal { margin-top: 18px; padding-top: 8px; border-top: 1px solid #c3c8c8; }
	
	/*---CONTENTS---------*/
	.contents.partners.three-across li { float: none; width: 100%; margin-left: 0; line-height: 1.5em; } /*remove cols by killing float*/
	.related:last-of-type { border-bottom: none; }	/*remove visual conflict with nav at bottom on mobile*/
	
	}/* /mobile*/

/*LITTLE TESTS*/
	.promoted, .panel {
		padding: 20px 20px 2px 20px;
		background: #efefef;
		background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
		background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
		box-shadow: 0 2px 5px rgba(0,0,0,0.15);
		-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
		-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
		margin: 0 0 20px 0;
		margin-bottom: 30px !important;
	}

.rightpop {   }
.rightpop { margin-right: 15px; border-right: 1px solid #efefef;  }
.rightpop li:hover, .rightpop li.active { margin-right: -10px; padding-right: 0px; background: url(../images/wayfinding_rightpop.png) 100% 50% no-repeat; }

/*-----------------------------------------------------------------------------------------------
NOTES
-------------------------------------------------------------------------------------------------

---TYPE---------
Once H&FJ release their web fonts, change Proxima to Gotham and Meta Serif to Chronicle Text; adjust weights as needed.

Current type weights:
Proxima  	light 300	reg 400		semi 600	bold 700								 
Meta Serif 				reg 500					bold 700										 

---COLORS---------
Light grays		Cool1  #e0e1dd	PMS427 #d1d4d3	PMS428 #c3c8c8	PMS430 #818a8f
Dark grays		PMS425 #565a5c	PMS447 #353735	PMS426 #191d1f
Golds			PMS124 #eaab00	PMS130 #f0ab00
Light blues		PMS7454#6493b5	PMS7455#4060af
Dark blues		PMS3015#0066a1	PMS3025#005172                                                   

-------------------------------------------------------------------------------------------------*/
